huggingface_hub==0.25.2 #required for backend to work with Hugging Face
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
requests==2.31.0
numpy==1.26.4
python-dotenv>=1.0.1
setuptools==69.0.0
lightrag
networkx>=3.0
nano-vectordb==0.0.4.3
python-multipart==0.0.6